doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='css/styles.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='icon', href='/img/Austin FX LOGO.png')
  title=title
.container
  // section header
  .header
    .headerdiv1
      a(href='/') All tours
    .headerdiv2
      img.img1(src='/img/Austin FX LOGO.png', alt='')
    .headerdiv3
      a.button.but1(href='/signup')
        | Signup
      a.button.but2(href='/login')
        | Login
    #bars.bar
      i.fa.fa-bars(style='color: white;')
  .containment
    .hidden
      ul.ul1
        li
          a(href='/') All tours
        li
          a(href='/signup') Signup
        li
          a(href='/login') Login
      ul.ul2
        li(style='padding-right: 10px;')
          a(href='#') About us
        li
          a(href='#') Contact
    // Users
    .tourist
      each review in reviews 
        .users
          .usersa
            div(style='display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; border-radius: 50%; border: 12px solid rgba(255, 255, 255,.3)')
              img(style='width: 50px; height: 50px; border-radius: 50%; border: 5px solid rgb(255, 255, 255);', src=`/img/users/${review.user.photo}`, alt='')
            span.span9=review.user.name.split(' ')[0].toUpperCase()
            br
          p.reviewp=review.review
          burron.reviewsb(title=`${review.id}`) Remove Review 
    // section footer
    include _footer
